<div>
<h1>HOME</h1>
</div>
<img src="/images/beer.png" class="logo" alt="the beer image">
<p><button onclick="window.location.href='/beers'" class="btn">Check the Beers!</button></p>
<p><button onclick="window.location.href='/random-beers'" class="btn">Check a Random Beer</button></p>





